.side-bar-item {
  padding: 20px;
  background-color: #6b8e23;
  border: solid #fff;
  border-width: 1px 0px 0px 0px;
  cursor: pointer;
}

.btn-menu {
  height: 40px;
  width: 40px;

  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;

  background-color: #000;

  opacity: 0.5;

  position: absolute;
  right: -40px;
}

.menu-btn {
  width: 25px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
}

a {
  color: #fff !important;
  font-style: normal !important;
  text-decoration-line: none !important;
}

.side-bar-item.last-child {
  border-width: 1px 0px;
}

.clicked {
  background-color: #000 !important;
}

.wrapper-side-bar {
  color: #fff !important;
  background-color: #6b8e23;
  min-width: 200px;
  height: 100vh;

  position: fixed;
  top: 0;

  display: flex;
  flex-direction: column;

  z-index: 3;
  border: solid #fff;
  border-width: 0px 1px 0px 0px;

  transition: all .5s ease-in-out;
}

.hiddenSidebar {
  margin-left: -200px;
}

.logo-wrapper {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-wrapper p {
  font-size: 20px;
  font-weight: bold;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url("../../covid.png");
  background-size: cover;
}

.authWrapper {
  flex-grow: 1;
  min-width: 160px;
  margin: 0 auto;

  display: flex;
  align-items: flex-end;
}

.btnHolder {
  width: 100%;
  margin-bottom: 20px;
}

.btnHolder p {
  margin-bottom: 20px;
}

.authBtn {
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border: 1px solid #fff;
}

@media only screen and (min-width: 550px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {
  .btn-menu {
    display: none;
  }

  .hiddenSidebar {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 1128px) {}

@media only screen and (min-width: 1920px) {}