
@import "../../styles/App.css";

.wrapper {
  text-align: center;
}

.header {
  width: fit-content;

  margin: 0 auto;

  font-size: 50px;

  margin-top: 20px;
  margin-bottom: 30px;
}

.itemInput {
  display: block;
  padding: 20px;

  width: fit-content;
  margin: 0 auto;
}

.itemInput p {
  margin-bottom: 10px;
  text-align: left;
}

.itemInput input {
  font-size: 20px;
  box-shadow: none;
  width: 100%;
  padding: 10px;
}

.submit {
  padding: 10px;
  font-size: 20px;
  margin-left: auto;

  cursor: pointer;
}

@media only screen and (min-width: 550px){
}
@media only screen and (min-width: 768px){
}
@media only screen and (min-width: 1024px){
}
@media only screen and (min-width: 1128px){
}
@media only screen and (min-width: 1920px){
  .itemInput input {
    width: 500px;
  }
}