@import "../../styles/App.css";

.wrapper {
  background-color: #fff;
  width: 100vw;
}

.globalInfoContainer {
  padding: 20px;
  background-color: #fff;
}

.countryItem {
  padding: 6px;
  margin: 10px;

  width: 160px;
  height: 130px;

  text-align: center;

  background-color: #cfd0d2;
}

.countryItem p {
  margin: 30px;
}

.countryItem p:nth-child(1) {
  font-weight: bold;
}

.countryItemWrapper {
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
}

@media only screen and (min-width: 550px){
  
}
@media only screen and (min-width: 768px){

}
@media only screen and (min-width: 1024px){

}
@media only screen and (min-width: 1128px){

}
@media only screen and (min-width: 1920px){
  .countryItem {
    padding: 10px;
    margin: 20px;
  
    width: 200px;
    height: 150px;
  }
}